.chatBox {
    width: 70px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 25px;
    bottom: 25px;
    color: #3f51b5;
    cursor: pointer;
}

.chatBox_closed_icon {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: opacity 100ms ease-in-out transform 100ms ease-in-out;
}