 .message_box_send {
    width: 350px;
    margin:auto;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

 .message_box_receive {
    width: 350px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

 .message_text {
    padding: 17px 20px;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
    width: auto;
}

.message_img {
    padding: 17px 20px;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
    height: 290px;
    width: 300px;
}

.message_send{
    display: flex;
}

 .message_send_content{
    display: flex;
    color: white;
    background-color: #3f51b5; 
    border-radius: 6px;
    width: fit-content;
    justify-content: flex-end;
}

.message_send_time {
    font-size: 10px;
    margin-left: 50px;
    margin-right: 5px;
    display: flex;
    align-items: flex-end;
}

.message_received {
    display: flex;
}

 .message_receive_content {
    display: flex;
    color: #263238;
    justify-content: flex-start;
    background-color: #dce0e4;
    border-radius: 6px;
    width: fit-content;
}

.message_receive_time {
    font-size: 10px;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}

 .message_diff_date {
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.unread_line {
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    color: #a5adb1;
    background-color: #f7f7f7;    
}

 .message_userName {
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 12px;
}

 .message_list {
    height: 60vh;
    overflow-y: scroll;
    background-size: 100%;
    padding: 20px 0px;
}

.completed_line {
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    color: #a5adb1;
    background-color: #f7f7f7;    
}